<div class="row">

  <div class="col-md mb-2">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-list-ul" aria-hidden="true"></i>
        Contacts       
        <i *ngIf="loading" class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>
        <button class="btn btn-sm btn-outline-secondary float-right" (click)="showNewContactForm()">Cadastrar Contato</button>
      </div>
      <div class="card-body">
        <ul class="list-group">
          <li *ngFor="let contact of contacts"
            class="list-group-item">
            <app-contact
              [contact]="contact"
              (onRemoveContact)="removeContact(contact)"
              (onShowEditContact)="showEditContactForm(contact)">
            </app-contact>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- CREATE TASK FORM -->

  <div *ngIf="showCreate" class="col-md-4 mb-2">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        Adicionar novo contato
        <button
          (click)="showNewContactForm()"
          class="btn btn-sm btn-outline-secondary float-right">
          Cancel
        </button>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label>Contato</label>
          <div class="input-group">
            <input type="text" class="form-control" #inputName>
          </div>
          <label>Telefone</label>
          <div class="input-group">
            <input type="text" class="form-control" #inputPhone>
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button" (click)="createContact(inputName.value,inputPhone.value)">Cadastrar Contato</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- EDIT FORM -->

  <div *ngIf="showEdit" class="col-md-4 mb-2">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        Editar contato id: <strong><font color="red">{{_id}}</font></strong>
        <button
          (click)="closeEditContactForm()"
          class="btn btn-sm btn-outline-secondary float-right">
          Cancel
        </button>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label>Contato</label>
          <div class="input-group">
            <input type="text" class="form-control" [value]="name" #inputName>
            <label>Telefone</label>
          </div>
          <div class="input-group">
            <input type="text" class="form-control" [value]="phone" #inputPhone>
            <input type="hidden" [value]="_id" #inputId>
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button" (click)="editContact(inputName.value,inputPhone.value,inputId.value)">Atualizar Contato</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
